<section class="section">
  <div class="columns is-centered field has-addons">
  <div class="control mr-3"><input class="input" type="search" oninput="filterTopic()" id="searchbox" placeholder="Filter topics"></div>
  
  <div class="field has-addons">
    <div class="control is-expanded">    
      <input class="input" type="text" placeholder="Find topic" id="searchTopicKeyword" onkeydown="searchTopic()" onblur="clearSearchInput()">
    </div>
    <div class="control" style="display: none">
      <a class="button is-info" id="search-topics">Search</a>
    </div>
  </div>
  <div class="dropdown-content" id="suggestions"></div>

  <div class="control">
    <a class="button ml-3 is-info" id="clear-results">
      Clear Results
    </a>
  </div>
</div>
</section>
<section class="section">
  <div class="container is-fluid">
    <div class="columns is-mobile">
      {{#each topics as |topic|}}
        <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
          <div class="card shadow-lg explore-card has-background-primary">
            <div class="card-header card-header-title title is-5">
              <a href="/topic/{{topic.id}}">{{topic.topic_name}}</a></p>
            </div>
            <div class="card-content media-content">
              <p>{{normalize_text topic.description}}</p>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">💼: {{topic.initial_shares}}</p>
              <p class="card-footer-item">💲: {{topic.price}}</p>
              {{!-- TODO: implement how many people has shares --}}
              <p class="card-footer-item">🗿: 0</p>
            </div>
          </div>
      </div>  
      {{/each}}
    </div>
  </div>

</section>
<script type="text/javascript" src="./js/explore.js"></script>

<style>
  .columns { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card{
    min-width: 25%;
    max-width: 30rem;
    height: 25rem;
  } 
  .card-content{
    padding-top: 0;
  }
  .card-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 9;
  }
  #suggestions {
    position: absolute;
    margin-top: 3rem;
    z-index: 9;
  }
</style>
