<section class="section" id="research-section">
  <div class="container is-fluid">
    <div class="columns is-mobile">
      <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
          <div class="control is-expanded">    
            <input class="input" type="text" placeholder="Search topic" id="search-topic-keyword" onkeydown="searchTopic()">
          </div>
        <div class="dropdown-content" id="suggestions"></div>
      </div>
      <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
        <input class="input" type="search" oninput="filterTopic()" id="filter-topic-keyword" placeholder="Filter topics">
      </div>
      <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">  
        <div class="button is-primary" id="add-topic-button">Add New Topic</div>
      </div>
    </div>  
  </div>
</section>

<section class="section" id="cards-section">
  <div class="container is-fluid">
    <div class="notification is-size-5">
      <p>Here you can view the most recent posts on our site. This page displays the 20 most recent topics that have been discussed.</p>
      <p>If you want to narrow down the topics on the page, you can use the 'Filter' feature.</p>
      <p>You can also use the search function to look for specific keywords in the title or description of a topic. If you can't find the topic you want to discuss, you can create a new one.</p>
    </div> 
    <div class="columns is-mobile">
      {{#each topics as |topic|}}
        <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
          <div class="card shadow-lg explore-card has-background-primary">
            <div class="card-header card-header-title title is-5">
              <a href="/topic/{{topic.id}}">{{topic.topic_name}}</a></p>
            </div>
            <div class="card-content media-content">
              <p>{{normalize_text topic.description}}</p>
            </div>
            <div class="card-footer has-background-primary">
              <p class="card-footer-item">💼: {{topic.initial_shares}}</p>
              <p class="card-footer-item">💲: {{topic.price}}</p>
              {{!-- TODO: implement how many people has shares --}}
              <p class="card-footer-item">🗿: {{topic.sharesCount}}</p>
            </div>
          </div>
      </div>  
      {{/each}}
    </div>
  </div>
  {{>add-topic-modal}}
</section>
<script type="text/javascript" src="./js/explore.js"></script>

<style>
  .columns { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cards-section {
    max-width: 120rem;
  }
  .card {
    min-width: 25%;
    max-width: 20rem;
    height: 25rem;
  } 
  .card-content {
    padding-top: 0;
  }
  .card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 9;
  }
  .section{
    max-width: 120rem;
  }
  #add-topic-button {
    position: absolute;
    margin-top: 0rem;
    z-index: 8;
  }
  #suggestions {
    position: absolute;
    margin-top: 0rem;
    z-index: 9;
  }
</style>
