<div class="card">
  <div class="card-content">
    <div class="media-content">
        <p class="title is-4">My profile</p>
    </div>
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img src={{imageURI}} alt="profile image" />
        </figure>
      </div>
    </div>

    <div class="content">
      <p class="card-text">centiment id: {{user.id}}</p>
      <p class="card-text">First name: {{user.first_name}}</p>
      <p class="card-text">Last name: {{user.last_name}}</p>
      <p class="card-text">Username: {{user.username}}</p>
      <p class="card-text">Email: {{user.email}}</p>
    </div>
  </div>
</div>