<section class='section'>
    <div class='container'>
        <div class='columns'>
            <div class='column'>
                <p class="title is-3 is-spaced">{{topic.topic_name}}</p>
                <p class="subtitle is-5">{{topic.description}}</p>
                <form id="new_post_form" style='margin:50px 0'>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Title" id="post_name">
                        </div>
                    </div>
                    <div class="field mb-4">
                        <div class="control">
                            <textarea class="textarea" placeholder="Text" id="post_contents"></textarea>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" value="Submit" class="button is-light">Submit a post</button>
                        </div>
                    </div>
                </form>
                {{#each posts as |post|}}
                  <article class='media'>
                    {{!-- <figure class='media-left'>
                        <p class='image is-64x64 is-rounded'>
                            <figure class='image is-128x128 is-rounded'>
                            <img src='{{imageURI}}' alt='Profile Picture' />
                        </p>
                    </figure> --}}
                    <div class='media-content'style='background-color: #fff;border-radius: 6px;box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);color: #4a4a4a;display: block;padding: 1.25rem;'>
                        <div class='content'>
                            <p>
                                <small><a href='/user/{{user.username}}'>@{{user.username}}</a></small>
                                <small>{{post.createdAt}}</small><br>
                                <span class='is-size-6 has-text-weight-semibold	'>{{post.post_name}}</span><br>
                                {{post.contents}}
                            </p>
                        </div>
                        <nav class='level is-mobile'>
                            <div class='level-left'>
                                <a class='level-item mr-1'>
                                    <span class='icon is-small mr-2'><i class="fa-regular fa-angle-up"></i>
                                    </span>
                                <p class='level-item'><small>{{post.up_votes}}</small></p>
                                    <span class='icon is-small mr-2'><i class="fa-regular fa-angle-down"></i>
                                    </span>
                                <p class='level-item'><small>{{post.down_votes}}</small></p>
                                    <span class='icon is-small'><i class='fa-light fa-comment'></i>
                                    </span>
                                </a>
                                <p class='level-item'><small>0</small></p>
                            </div>
                            
                        </nav>
                    </div>
                </article>
                {{/each}}
            </div>

            <div class='column is-one-third' style="margin-left: 50px;">
                <h1 class='title is-4 pb-4'>About community</h1>
                <p class='subtitle'><span><i class='fa-duotone fa-users'></i>
                        1,234 Members</span></p>
                <p class='subtitle'><span><i
                            class='fa-solid fa-chart-simple'
                        ></i>
                        ${{format_amount topic.volume}} Total Volume</span></p>
                <p class='subtitle'><span><i
                            class='fa-solid fa-square-dollar'
                        ></i>
                        ${{topic.price}}
                        Per Share (IPO)</span></p>
                <p class='subtitle'><span><i class='fa-solid fa-warehouse'></i>
                        {{topic.initial_shares}}
                        Initial Shares Remaining</span></p>
                <div class='dropdown' id='ipo-buy-dropdown'>
                    <form>
                        <div class='dropdown-trigger'>
                            <button
                                class='button px-6'
                                aria-haspopup='true'
                                aria-controls='dropdown-menu2'
                                id='ipo-buy-dropdown-btn'
                            >
                                <span><b>Purchase IPO</b></span>
                                <span class='icon is-small'>
                                    <i
                                        class='fas fa-angle-down'
                                        aria-hidden='true'
                                    ></i>
                                </span>
                            </button>
                        </div>
                        <div
                            class='dropdown-menu'
                            id='dropdown-menu2'
                            role='menu'
                        >
                            <div class='dropdown-content'>
                                <div class='dropdown-item'>
                                    <p class='py-2'><strong
                                        >Quantity:</strong></p>
                                    <input
                                        type='number'
                                        id='ipo-share-quantity'
                                        {{! ADD MAXIMUM HERE!! }}
                                    />
                                </div>
                                <hr class='dropdown-divider' />
                                <div class='dropdown-item'>
                                    <p><strong>Total Price:</strong>
                                        <span
                                            id='ipo-total-price'
                                            data-price='{{topic.price}}'
                                        >$</span></p>
                                </div>
                                <hr class='dropdown-divider' />
                                <div class='dropdown-item'>
                                    <button
                                        class='button'
                                        id='ipo-confirm-btn'
                                        data-topic_id="{{topic.id}}"
                                    >Confirm</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="notification is-success is-hidden" id="IPO-notification">
                    
                </div>
                
                <div>
                    <h2 class="title is-4">Orderbook:</h2>
                    <div class="box has-background-success-light">
                        <h2 class="subtitle has-text-centered"><b>Bids</b></h2>

                        <nav class="level py-0 mb-1">
                            <div class="level-left ml-5">
                                <div class="level-item">
                                    <p class="subtitle is-5">
                                        <strong>Price:</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item mr-5">
                                    <p class="subtitle is-5">
                                        <strong>Quantity:</strong>
                                    </p>
                                </div>
                            </div>
                        </nav>
                        {{#each bids}}
                            {{>bids}}
                        {{/each}}
                    </div>
                    <div class="box has-background-danger-light">
                        <h2 class="subtitle has-text-centered"><b>Asks</b></h2>

                        {{#each asks}}
                            {{>asks}}
                        {{/each}}
                        <nav class="level py-0 mb-1">
                            <div class="level-left ml-5">
                                <div class="level-item">
                                    <p class="subtitle is-5">
                                        <strong>Price:</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item mr-5">
                                    <p class="subtitle is-5">
                                        <strong>Quantity:</strong>
                                    </p>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class=''>
    <div class='container'>
        <div class='columns'> 
            <div class='column'>
            </div>
            <div class='column is-one-third'>
            </div>
        </div>
    </div>
</section>

<script src='../js/topic-details.js'></script>
<script src='../js/post.js'></script>


{{!-- <a href='http://localhost:3001/topic'>Back to all topics</a>
<br /><br />
<div>
    {{! Topic details }}
    <h1>{{topic.topic_name}}</h1>
    <p>About: {{topic.description}}</p>
    <p>Current price: <span>{{topic.price}}</span></p>
    <p>Total shares: <span>{{topic.total_shares}}</span></p>
</div>

<a href='http://localhost:3001/topic/edit/{{topic.id}}'><button
        type='submit'
        value='Submit'
    >Edit this topic</button></a>
<button id='delete-topic' type='submit' value='Submit'>Delete this topic</button>

<h2>Posts</h2>
<a href='http://localhost:3001/topic/{{topic.id}}/post/new'>Create a post</a>

<hr />

<button id='buy'>Buy IPO</button> --}}

{{! <script>

    const id = window.location.toString().split('/')[
    window.location.toString().split('/').length - 1 ]; async function
    deleteTopicHandler(event) { const response = await fetch(`/api/topic/${id}`,
    { method: 'DELETE', }); if (response.ok) {
    document.location.replace('/topic'); } else { alert('Failed to delete
    topic'); } }; document .querySelector("#delete-topic")
    .addEventListener("click", deleteTopicHandler)
</script> }}